<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- xml-> Java = result, Java->xml = parameter  -->
<mapper namespace="User">
	<resultMap type="userVo" id="userResultMap">
		<result property="userid" column="userid" javaType="String" jdbcType="VARCHAR"/>
		<result property="name" column="name" javaType="String" jdbcType="VARCHAR"/>
		<result property="gender" column="gender" javaType="String" jdbcType="VARCHAR"/>
		<result property="city" column="city" javaType="String" jdbcType="VARCHAR"/>
	</resultMap>
	<select id="selectUser" parameterType="String" resultMap="userResultMap">
		SELECT * FROM Users WHERE userid = #{userid}
	</select>
	<select id="selectAllUsers" resultMap="userResultMap" >
		SELECT * FROM Users ORDER BY userid ASC
	</select>
	<insert id="insertUser" parameterType="userVo">
		INSERT INTO Users VALUES(#{userid}, #{name}, #{gender}, #{city})
	</insert>
	<delete id="deleteUser" parameterType="String">
		DELETE FROM Users WHERE userid = #{userid}
	</delete>
	<update id="updateUser" parameterType="userVo">
		UPDATE Users SET name = #{name}, gender = #{gender}, city = #{city}
		WHERE userid = #{userid}
	</update>
	
</mapper>